@import '../../../../styles/global';

%shared-display {
    @include display-flex(flex);
    align-items: center;
}

.navigationButtons {
    @extend %shared-display;
    width: 100%;
    height: 3rem;
    position: relative;
    background-color: #FFF;
    justify-content: space-evenly;
    @media only screen and (max-width: 1050px) {
        padding-top: 8px;
    }
}

.petsDeliLogo {
    top: 0.45rem;
    left: 1.5rem;
    height: 4.75rem;
    width: 4.75rem;
    position: absolute;
    @include d-none-1024px();
}


.petsDeliLogoMobile {
    display: none;
    width: auto;
    height: 1.5rem;
    @include d-block-1024px();
}

.btn {
    @extend %shared-display;
    justify-content: center;
    height: 3rem;
    color: $text-brand-primary;
    padding-top: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    @media only screen and (max-width: 1050px) {
        @include d-none-1024px();
    }
}


.iconsContainer {
    @include display-flex(flex, column);
    font-size: 9px;
    color: #a6a6a6;
    margin-left: 4px;
    align-items: center;
    :hover {
      color: $text-brand-primary;
    }
    span {
      color: $text-brand-primary;
    }
}

.searchMobile {
    background-color: #FFF;
    height: 3rem;
    width: 100%;
    @extend %shared-display;
    justify-content: center;
    padding-top: 4px;
    position: relative;
    svg {
      color: #a6a6a6;;
      position: absolute;
      top: 6px;
      right: 12px;
    }
}

.searchMobileContainer {
    display: none;
    width: 100%;
    @media only screen and (max-width: 1050px) {
        @include d-block-1024px();
    }
}





