$theme-primary: #F39C86;
$text-brand-primary:#19335a;

.theme-primary {
  background-color: $theme-primary;
}

.text-brand-primary {
    background-color: $text-brand-primary;
}

.uppercase {
    text-transform: uppercase;
}