@import '../../../../styles/global';

%shared-display {
    @include display-flex(flex);
    align-items: center;
}

.appbarUpperSection {
    width: 100%;
    height: 30px;
    background-color: #f9f9f9;
    color: #a6a6a6;
    @extend %shared-display;
    @media only screen and (max-width: 1050px) {
        @include d-none-1024px();
    }
}

.eTrustShopIcon {
    height: 22px;
    width: 22px;
    @extend %shared-display;
    margin-right: 20px;
}

.freeShiping {
    padding-left: 25%;
}




