@import '../../../../styles/global';

%shared-display {
    @include display-flex(flex);
    align-items: center;
}

.listContainer {
    cursor: pointer;
    background-color: $theme-primary;
    @extend %shared-display;
    width: 100%;
    height: 3rem;
    justify-content: center;
    font-weight: 600;
    font-size: 0.875rem;
    color: $text-brand-primary;
    ul {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    li {
        margin-left: 4px;
        margin-right: 2px;
    }
    @include d-none-1024px();
}


.dot {
     margin-right: 2px;
     color:#a6a6a6;
    @media only screen and (max-width: 1200px) {
       display: none;
       
    }
}

.dropbtn {
    background-color: inherit;
    color: inherit;
    margin: 0px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-weight: 600;
    font-size: 0.875rem;
    border: none;
    @extend %shared-display;
}

.dropdown {
    position: relative;
    display: flex;
    height: 3rem;
    text-align: center;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0, 0.2);
    z-index: 1;
    text-align: start;
    top: 3.5em;
    left: 0;
}

.dropdownContent a {
    color: $text-brand-primary;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdownContent a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdownContent{
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: inherit;
}



